@media (max-width: 64rem) {
  /*------------------------Home----------------------------------------*/
  .articleOn {
    width: 30%;
    margin-bottom: 2%;
  }
  img {
    width: 48%;
  }
  /*--AGENT---------------------------------------------------------------------------------------------------------*/
  .agents .left {
    width: 45%;
  }
  figcaption {
    width: 50%;
  }
  /*--ABOUT---------------------------------------------------------------------------------------------------------*/
  .about {
    column-count: 2;
  }
  /*--GALLERY---------------------------------------------------------------------------------------------------------*/
  .gallery figure {
    flex-basis: 33.33%;
  }
  /*--CRUISES---------------------------------------------------------------------------------------------------------*/
  .right {
    width: 48%;
    padding-right: 2%;
  }
  /*--Location---------------------------------------------------------------------------------------------------------*/
  .location iframe {
    width: 75%;
    height: 75%;
  }
  /*--FOOTER---------------------------------------------------------------------------------------------------------*/
  footer .firstBlock {
    width: 48%;
    margin-bottom: 2%;
  }
  footer .secondBlock {
    width: 48%;
    margin-bottom: 2%;
  }
  footer .thirdBlock {
    width: 48%;
    margin-bottom: 2%;
  }
}
